[build-system]
requires = ["setuptools >= 61.0", "setuptools-scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "raw2film"
dynamic = ["version"]
authors = [
  { name="Jan Lohse" },
]
description = "Console tool to process raw files with a analog film look."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "ffmpeg-python",
    "imageio",
    "lensfunpy",
    "numpy",
    "opencv-python",
    "PyExifTool",
    "rawpy!=0.26.0",
    "scipy",
    "pillow",
    "spectral_film_lut @ git+https://github.com/JanLohse/spectral_film_lut"
]

[project.urls]
Homepage = "https://github.com/JanLohse/raw2film"
Issues = "https://github.com/JanLohse/raw2film/issues"

[project.gui-scripts]
raw2film = "raw2film.__main__:run"

[tool.setuptools_scm]
write_to = "src/raw2film/_version.py"
version_scheme = "release-branch-semver"
local_scheme = "no-local-version"